// 
// Declarations  
// ========================================================================== 

// 
// Defaults:
// 

$bare-root-font-family:				"Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$bare-root-color: 				#222 !default;
$bare-root-background-color:			#fff !default;
$bare-root-fz-xs:				$bare-fz-xs !default;
$bare-root-fz-s:				$bare-fz-s !default;
$bare-root-fz-m:				$bare-fz-m !default;

/* 
   #root
   ========================================================================== */

/**
 * The root module defines the root-level styles.
 */

html {
	font-family: $bare-root-font-family;
	font-size: bareEm($bare-root-fz-xs, 16px);
	line-height: $bare-lh-m / $bare-fz-m;
	color: $bare-root-color;
	background-color: $bare-root-background-color;
	overflow-y: scroll;
	min-width: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
}

@media (min-width: bareMedia($bare-bp-s)) {
	
	html {
		font-size: bareEm($bare-root-fz-s, 16px);
	}	 

}

@media (min-width: bareMedia($bare-bp-m)) {

	html {
		font-size: bareEm($bare-root-fz-m, 16px);
	}

}

/**
 * Fixes font inheritance issue.
 */
 
table, caption {
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-variant: inherit;
}

/**
 * Prevent overstretching on wide displays.
 */
 
body {
	max-width: $bare-page-max-width;
	margin: 0 auto;
}
