// 
// Declarations  
// ========================================================================== 

// 
// Defaults:
// 

$bare-root-font-family:			"Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$bare-root-color: 				#222 !default;
$bare-root-background-color:	#fff !default;

/* 
   #root
   ========================================================================== */

/**
 * The root module defines the root-level styles.
 */

html {
	font-family: $bare-root-font-family;
	font-size: bareEm($bare-fz-m, 16px);
	line-height: $bare-lh-m / $bare-fz-m;
	color: $bare-root-color;
	background-color: $bare-root-background-color;
	overflow-y: scroll;
	min-width: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
}

body {
	max-width: $bare-page-max-width;
}
